@import url(https://fonts.googleapis.com/css?family=Oswald:400);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-color: #1F2029;
}


nav {
    width: 100%;
    height: 4em;
    display: flex;
	position: relative;
    flex-direction: column;
    border-radius: 5px;
}

.logo {
    font-family: "pacifico";
    color: #FFEAA7;
    margin-left: 1.2em;
    margin-top: 0.8em;
    font-size: 20px;
}

.sides {
	height: 3em;
	width: 14em;
	position: absolute;
	top: 7px;
	right: 1.2em;
	display: flex;
	align-items: center;
}

.sides i {
	font-size: 25px;
	margin-left: 20px;
	cursor: pointer;
}

.navigation {
	align-content: center;
	position: absolute;
	right: 0;
}

a {
	text-decoration: none;
	color: white;
}

.logout {
	width: 10em;
	background-color: #2980b9;
	border: 3px solid #ddd8d3;
	transition: all 0.2s ease-in;
	height: 2em;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.logout p {
	margin-left: 10px;
}

.logout:hover {
	border-color: #0d4469;
}

section {
	width: 100%;
	min-height: 20em;
	background-color: #272727;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-position-y: 42px;
	transition: background 0.2ms ease;
	overflow: hidden;
}

#mac_status, #mac_status_monitor {
	font-family: "Oswald";
	font-size: 20px;
}
section header {
	width: 100%;
	height: 3em;
	background-color: #777;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease-in-out;
	z-index: 2;
}
section header p {
	color: white;
	font-family: "Bree Serif";
	margin-left: 10px;
}
#status {
	transition: all 0.2s ease;
}

.bulb {
	position: relative;
	width: 120px;
	height: 120px;
	appearance: none;
	outline: none;
	border: none;
	background-color: #272727;
    font-weight: bold;
    box-shadow: -5px -5px 20px #212121, 5px 5px 20px #141414;
    transition: all 0.2s ease-in-out;
	border-radius: 50%;
    outline: none ;
    display: flex;
    align-items: center;
    justify-content: center;
	top: 6em;
	cursor: pointer;
	z-index: 2;
}
.bulb_bc {
	animation: shadowPulse 1s infinite linear;
}
.bulb_bc::after {
	position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: #fff solid 2px;
    border-radius: 100%;
    animation: ringPulse 1s infinite linear;
}

@keyframes ringPulse {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}

	10% {
		opacity: 1;
	}

	80%, 100% {
		opacity: 0;
		transform: scale(2);
	}
}

@keyframes shadowPulse {
	0% {
		box-shadow: 0 0 8px 6px transparent,
					0 0 0 0 transparent,
					0 0 0 0 transparent;
	}

	10% {
		box-shadow: 0 0 8px 6px #e1434b,
					0 0 12px 10px transparent,
					0 0 12px 5px #e1434b;
	}

	80%, 100% {
		box-shadow: 0 0 8px 6px transparent,
					0 0 0 40px transparent,
					0 0 0 40px transparent;
	}
}



.bulb_ac {
	animation: shadowPulseGreen 1s infinite linear;
}
.bulb_ac::after {
	position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: #fff solid 2px;
    border-radius: 100%;
    animation: ringPulseGreen 1s infinite linear;
}

@keyframes ringPulseGreen {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}

	10% {
		opacity: 1;
	}

	80%, 100% {
		opacity: 0;
		transform: scale(2);
	}
}

@keyframes shadowPulseGreen {
	0% {
		box-shadow: 0 0 8px 6px transparent,
					0 0 0 0 transparent,
					0 0 0 0 transparent;
	}

	10% {
		box-shadow: 0 0 8px 6px #0FFF50,
					0 0 12px 10px transparent,
					0 0 12px 5px #0FFF50;
	}

	80%, 100% {
		box-shadow: 0 0 8px 6px transparent,
					0 0 0 40px transparent,
					0 0 0 40px transparent;
	}
}


.bulb_after{
	position: absolute;
    color: #FF5733;
	left: 26px;
	top: 26px;
    font-size: 70px;
}

.bulb:hover{
    box-shadow: -2px -2px 5px #212121, 2px 2px 5px #141414;
}
.bulb:active {
	box-shadow: inset 1px 1px 2px #141414, inset -1px -1px 2px #212121;
}


@media (max-width: 500px) {
	.logo {
		transform: scale(0.8);
		margin-left: -30px;
	}
	.logout {
		transform: scale(0.8);
		margin-right: -20px;
	}
	.fa-bars {
		display: none;
	}
}
@media (max-width: 350px) {
	.logo {
		transform: scale(0.7);
		margin-left: -40px;
	}
	.logout {
		transform: scale(0.7);
		margin-right: -30px;
	}
	.fa-bars {
		display: none;
	}
}
@media (max-width: 300px) {
	.logo {
		transform: scale(0.7);
		margin-left: -40px;
	}
	.logout {
		width: 60px;
		height: 60px;
		margin-right: -20px;
	}
	.logout span {
		font-weight: bolder;
	}
	.logout p {
		display: none;
	}
	.fa-bars {
		display: none;
	}
}







.container {
	position: relative;
	top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
	margin-bottom: 90px;
}

.container .card {
	position: relative;
	width: 230px;
	height: 250px;
	background: #2a2a2a;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .card .percent {
	position: relative;
	width: 150px;
	height: 150px;
}

.container .card .percent svg {
	position: relative;
	width: 150px;
	height: 150px;
	transform: rotate(270deg);
}

.container .card .percent svg circle {
	width: 100%;
	height: 100%;
	fill: transparent;
	stroke-width: 4;
	stroke: #191919;
	transform: translate(5px, 5px);
}

.container .card .percent svg circle:nth-child(2) {
	stroke: var(--clr);
	stroke-dasharray: 440;
	stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
	opacity: 0;
	animation: fadeIn 1s linear forwards;
	animation-delay: 2.5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.indicator {
	position: absolute;
	top: 10em;
	left: 2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 70px;
	height: auto;
}
.glow {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FF5733;
	text-shadow: 0 0 10px pink, 0 0 20px orangered, 0 0 40px red, 0 0 80px magenta;
	transition: all 0.5s ease-in-out;
}
.indicator p {
	color: white;
	font-family: "Bree Serif";
	font-size: 1.3rem;
	margin-top: 17px;
}

.dot {
	position: absolute;
	inset: 5px;
	z-index: 10;
	transform: rotate(calc(3.6deg * var(--num)));
	animation: animateDot 2s linear forwards;
}
@keyframes animateDot {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(calc(3.6deg * var(--num)));
	}
}
.dot::before {
	content: '';
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: 10px;
	height: 10px;
	background: var(--clr);
	border-radius: 50%;
	background: var(--clr);
	box-shadow: 0 0 10px var(--clr),
	0 0 30px var(--clr);
}

.number {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*opacity: 0;
	animation: fadeIn 1s linear forwards;
	animation-delay: 2.5s;*/
}

.number h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: 700;
	font-size: 2.5em;
	margin: 0;
	margin-top: -5px;
	margin-left: 10px;
}

.number h2 span {
	font-weight: 300;
	color: #fff;
	font-size: 0.5em;
}

.number p {
	font-weight: 300;
	font-size: 1em;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
	margin-left: 3px;
	color: rgba(255, 255, 255, 0.75);
}